In [3]:
import pandas as pd
from IPython.display import clear_output

name = 'train_sequences.csv'
sdf = pd.read_csv(name,sep='\t')
df = pd.DataFrame()

for i in range(len(sdf)):
    r = sdf.loc[i,'sequence']
    ll = [list(r)]
    temp = pd.DataFrame(ll)
    df = df.append(temp)
    clear_output(wait=True)

/tmp/ipykernel_5118/2075764805.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp)

In [4]:
len(df)

(16706, 512)

In [19]:
app = []
for i in range(len(df)):
    app = app + [0]
for j in range(512-len(df.iloc[-1])):
    df.insert(len(df.iloc[0])-1,512-j,app)

In [23]:
df.fillna(0)
df

,0,1,2,3,4,5,6,7,8,9,...,512,511,510,509,508,507,506,504,513,514
0,M,K,V,A,V,L,G,A,A,G,...,0,0,0,0,0,0,0,NaN,0,0
0,M,K,V,A,V,L,G,A,A,G,...,0,0,0,0,0,0,0,NaN,0,0
0,M,K,V,A,V,I,G,A,A,G,...,0,0,0,0,0,0,0,NaN,0,0
0,M,K,V,A,V,L,G,A,A,G,...,0,0,0,0,0,0,0,NaN,0,0
0,M,K,V,A,V,L,G,A,A,G,...,0,0,0,0,0,0,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,M,S,Q,A,P,V,K,V,A,V,...,0,0,0,0,0,0,0,NaN,0,0
0,M,V,V,T,V,K,I,E,E,I,...,0,0,0,0,0,0,0,NaN,0,0
0,M,S,D,E,N,D,V,L,I,S,...,0,0,0,0,0,0,0,NaN,0,0
0,M,S,D,H,V,Q,P,S,G,D,...,0,0,0,0,0,0,0,NaN,0,0
0,M,A,D,K,F,S,V,E,T,L,...,0,0,0,0,0,0,0,NaN,0,0

In [24]:
AMINO_ACID_TO_ID = {'0': 0,
                    'A': 1,
                    'C': 2,
                    'D': 3,
                    'E': 4,
                    'F': 5,
                    'G': 6,
                    'H': 7,
                    'I': 8,
                    'K': 9,
                    'L': 10,
                    'M': 11,
                    'N': 12,
                    'P': 13,
                    'Q': 14,
                    'R': 15,
                    'S': 16,
                    'T': 17,
                    'V': 18,
                    'W': 19,
                    'Y': 20}

In [26]:
for i in range(len(df)):
    temp = df.iloc[i]
    for j in range(len(temp)):
        c = temp.iloc[j]
    if c in AMINO_ACID_TO_ID:
        temp.iloc[j] = AMINO_ACID_TO_ID[c]
    elif c == float('nan'):
        temp.iloc[j] = 0
    df.iloc[i] = temp

In [27]:
df.to_csv('data_numbered.csv')

### This data_numbered.csv is used to further generate ultimate.csv and penultimate.csv required for executing our GAN models